@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

:host {
  --text-primary: #000000;
  --text-secundary: #00dbb2;
  --text-third: #8db7ef;
  --bg-primary: #ffffff;
  --bg-secundary: #f2f4f5;
  --font-family: 'Comfortaa', cursive;
  --font-title: 'Patua One', cursive;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-secundary);
  font-family: var(--font-family);
  color: black;
  min-height: 100vh;
  height: auto;
}

.brand {
  color: black;
  font-weight: 600;
}
.end {
  text-align: end;
}

.spacing {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.font-title {
  font-family: var(--font-title);
}

.red {
  color: red !important;
}

/* Navbar */

.navbar {
  background: var(--bg-primary);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.137);
}

.navbar-brand {
  text-transform: none;
  height: 2rem;
}

.navbar-nav li {
  padding-right: 0.7rem;
}

.navbar-light .navbar-nav .nav-link {
  color: black !important;
  padding-top: 0.8rem;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--text-secundary) !important;
}

.box {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Novos Espaçamento */

.top-padding1 {
  padding-top: 1rem;
}

.top-padding2 {
  padding-top: 2rem;
}

.top-padding4 {
  padding-top: 4.5rem;
}

/* Celular */

@media only screen and (max-width: 576px) {
}

@media only screen and (max-width: 992px) {
}
