<body>

  <!--Menu-->

  <nav class="navbar navbar-default navbar-expand-lg fixed-top navbar-light px-2">
    <a class="navbar-brand brand" routerLink="">Sr. Cuidado</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#conteudoNavbarSuportado"
      aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="conteudoNavbarSuportado">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="cadastro-cuidador" [class.active]="tab == 'cadastro-cuidador'"
            (click)="tab = 'cadastro-cuidador'">Caregiver Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="cadastro-idoso" [class.active]="tab == 'cadastro-idoso'"
            (click)="tab = 'cadastro-idoso'">Elderly Registration</a>
        </li>
      </ul>
    </div>
  </nav>

  <form class="container top-padding4" [ngSwitch]="tab">
    <h1 *ngSwitchCase="'cadastro-cuidador'" class="text-center">
      {{caregiver}}</h1>
    <h1 *ngSwitchCase="'cadastro-idoso'" class="text-center">{{elderly}}</h1>
    <div class="end me-5">
      <p>Required Field <label class="red">*</label>
    </div>

    <!--USUARIO-->
    <!--Nome, CPF e Telefone-->

    <div class="container">
      <div class="row mb-2">
        <div class="col-4">
          <label class="spacing font-title" for="Nome">Full Name</label> <label class="red">*</label>
          <input id="Nome" name="Nome" class="form-control input-md" required="" type="text">
        </div>

        <div class="col-2">
          <label class="spacing font-title" for="CPF">Social Security</label><label class="red">*</label>
          <input id="cpf" name="cpf" placeholder="Only numbers" class="form-control input-md" required="" type="text"
            maxlength="11" pattern="[0-9]+$">
        </div>

        <div class="col-2">
          <label class="spacing font-title" for="telefone">Phone Number</label><label class="red">*</label>
          <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
          <input id="telefone" name="telefone" class="form-control" placeholder="XX XXXXX-XXXX" required="" type="text"
            maxlength="13" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## #####-####', this)">
        </div>

        <div class="col-2">
          <label class="spacing font-title" for="Nascimento">Birth</label><label class="red">*</label>
          <input id="dtnasc" name="dtnasc" placeholder="MM/dd/yyyy" class="form-control input-md" required=""
            type="date" maxlength="10" OnKeyPress="formatar('##/##/####', this)" onBlur="showhide()">
        </div>

        <div class="col-2">
          <label class="spacing font-title" for="Gênero">Gender</label><label class="red">*</label>
          <select class="form-select" required="" required>
            <option selected></option>
            <option value="Masculino">Male</option>
            <option value="Feminino">Female</option>
            <option value="Não Binário">Non Binary</option>
            <option value="Outros">Other</option>
            <option value="Não Informar">Do Not Inform</option>
          </select>
        </div>
      </div>

      <!--Email e Senha-->

      <div class="row mb-2">
        <div class="col-6">
          <label class="spacing font-title" for="Email">Email</label><label class="red">*</label>
          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          <input id="email" name="email" class="form-control" placeholder="email@email.com" required="" type="text"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        </div>

        <div class="col-3">
          <label class="spacing font-title" for="Password">Password</label><label class="red">*</label>
          <input type="password" name="password" id="password" class="form-control" placeholder="*****"
            onkeyup='check();' required />
        </div>

        <div class="col-3">
          <label class="spacing font-title" for="ConfirmPassword">Confirm Your Password</label><label
            class="red">*</label>
          <input type="password" name="confirmpassword" id="confirmpassword" class="form-control" placeholder="*****"
            onkeyup='check();' required />
          <b><span id='mensagem'></span></b>
        </div>
      </div>

      <!--CEP-->

      <div class="row mb-2">
        <div class="col-2">
          <label class="spacing font-title" for="CEP">Zip Code/Postal Code</label><label class="red">*</label>
          <input id="cep" name="cep" placeholder="Only numbers" class="form-control input-md" required="" value=""
            type="search" maxlength="9" pattern="[0-9]+$">
        </div>

        <div class="col-2 align-self-end">
          <button type="button" class="btn btn-primary">Search</button>
        </div>

        <div class="col-3">
          <label class="spacing font-title" for="Rua">Street</label><label class="red">*</label>
          <input id="rua" name="rua" class="form-control" required="" type="text">
        </div>

        <div class="col-2">
          <label class="spacing font-title" for="Numero">Street Number</label><label class="red">*</label>
          <input id="numero" name="numero" class="form-control" required="" type="text">
        </div>

        <div class="col-3">
          <label class="spacing font-title" for="Bairro">District</label>
          <input id="bairro" name="bairro" class="form-control" required="" type="text">
        </div>
      </div>

      <!--Cidade, Estado e Como Ficou Sabendo-->

      <div class="row my-1">
        <div class="col-4">
          <label class="spacing font-title">City</label><label class="red">*</label>
          <input id="cidade" name="cidade" class="form-control" required="" type="text">
        </div>

        <div class="col-3">
          <label class="spacing font-title">State</label><label class="red">*</label>
          <input id="estado" name="estado" class="form-control" required="" type="text">
        </div>

        <div class="col-5">
          <label class="spacing font-title">How did you find out about the Sr.Cuidado?</label>
          <input id="ficousabendo" name="ficousabendo" class="form-control" type="text">
        </div>
      </div>

      <!--Possui Deficiencia?-->

      <div *ngSwitchCase="'cadastro-idoso'" class="row my-2">
        <div class="col-12">
          <label class="spacing font-title" for="deficiencia">Do you have any disabilities?</label><label
            class="red">*</label>
          <div class="col-12 mb-2">
            <label class="radio-inline mx-2" for="radios-0">
              <input type="radio" name="deficiencia" id="deficiencia" value="sim" onclick="habilita('descrevaD')"
                required> Yes </label>
            <label class="radio-inline" for="radios-1">
              <input type="radio" name="deficiencia" id="deficiencia" value="nao" onclick="desabilita('descrevaD')">
              No </label>
          </div>
          <div class="col-12">
            <input id="descrevaD" name="descrevaD" class="form-control" type="text" placeholder="Describe"
              pattern="[0-9]+$">
          </div>
        </div>
      </div>

      <!--RESPONSÁVEL-->
      <!--Nome, CPF e Telefone-->


      <div *ngSwitchCase="'cadastro-idoso'">
        <div class=" mt-5">
          <h4>Legal Responsible</h4>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <label class="spacing font-title" for="Nome">Full Name</label> <label class="red">*</label>
            <input id="Nome" name="Nome" class="form-control input-md" required="" type="text">
          </div>

          <div class="col-2">
            <label class="spacing font-title" for="telefone">Telephone</label><label class="red">*</label>
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input id="telefone" name="telefone" class="form-control" placeholder="XX XXXXX-XXXX" required=""
              type="text" maxlength="13" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$"
              OnKeyPress="formatar('## #####-####', this)">
          </div>

          <div class="col-2">
            <label class="spacing font-title" for="Nascimento">Birth</label><label class="red">*</label>
            <input id="dtnasc" name="dtnasc" placeholder="mm/dd/yyyy" class="form-control input-md" required=""
              type="date" maxlength="10" OnKeyPress="formatar('##/##/####', this)" onBlur="showhide()">
          </div>

          <div class="col-2">
            <label class="spacing font-title" for="Estado Civil">Marital Status</label>
            <select class="form-select">
              <option selected></option>
              <option value="Solteiro(a)">Single</option>
              <option value="Noivo(a)">Engaged</option>
              <option value="Casado(a)">Married</option>
              <option value="Divorciado(a)">Divorced</option>
              <option value="Viuvo(a)">Widowed</option>
            </select>
          </div>

          <div class="col-2">
            <label class="spacing font-title" for="Gênero">Gender</label>
            <select class="form-select">
              <option selected></option>
              <option value="Masculino">Male</option>
              <option value="Feminino">Female</option>
              <option value="Não Binário">Non Binary</option>
              <option value="Outros">Other</option>
              <option value="Não Informar">Do not Inform</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <label class="spacing font-title" for="Email">Email</label><label class="red">*</label>
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input id="email" name="email" class="form-control" placeholder="email@email.com" required="" type="text"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
          </div>

          <div class="col-3">
            <label class="spacing font-title" for="Vinculo">Bond with the elderly</label><label class="red">*</label>
            <input id="vinculo" name="vinculo" placeholder="Bond" class="form-control" required="" type="text">
          </div>

          <div class="col-3">
            <label class="spacing font-title" for="Profissão">Occupation</label><label class="red">*</label>
            <input id="profissao" name="profissao" placeholder="Occupation" class="form-control" required=""
              type="text">
          </div>
        </div>
      </div>

      <!--Botões-->

      <div class="row">
        <div class="col my-3">
          <button id="Limpar" name="Limpar" class="btn btn-secondary me-4" type="Reset">Clear</button>
          <button id="Cadastrar" name="Cadastrar" class="btn btn-success" type="Submit">Register</button>
        </div>
      </div>
    </div>
  </form>
</body>