:root {
  --text-secundary: #00dbb2;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Scrollbar */

body::-webkit-scrollbar {
  width: 9px;
}

body::-webkit-scrollbar-track {
  background: #dbdbdb;
}

body::-webkit-scrollbar-thumb {
  background: var(--text-secundary);
}
